nav {
    border: 1px solid #ccc;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 5px;
}

nav a {
    padding: 10px;
}

/* 'active' class automatically added by React Router */
nav a.active {
    background-color: rgb(175, 209, 207);
}